@page "/input"

<PageTitle>Input</PageTitle>

<h1>Input</h1>

<p role="status">Current count: </p>

<input class="btn btn-primary" id="@id" @bind="@valueParameter" @oninput="ValidateCaracteres"></input>

@code {
    [Parameter]
    public string id { get; set; }
    private string valueParameter;

    private void ValidateCaracteres()
    {
        if (valueParameter != null && valueParameter.Length < 4)
        {
            Console.WriteLine("tem menos de 4 caracteres");
        }
    }
}
