
<div class="modal fade" id="personRemoveModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Remover Pessoa</h5>
            </div>
            <div class="modal-body">
                <p>Tem certeza que deseja remover ? esta ação não pode ser desfeita</p>
                <input type="hidden" id="personIdRemove" />
            </div>
            <div class="modal-footer">
                <button type="button" id="cancelRemovePerson" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" id="reallyRemovePerson" class="btn btn-danger">Apagar</button>
            </div>
        </div>
    </div>
</div>