<style>
    .event-separator {
        border-top: 1px solid #000000;
        margin-top: 10px;
        margin-bottom: 10px;
    }

</style>

<div class="modal fade" id="trackingEventsModal" tabindex="-1" role="dialog" aria-labelledby="trackingEventsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header align-content-center">
                <h5 class="modal-title" id="trackingEventsModalLabel">Eventos de Rastreamento</h5>
            </div>
            <div class="modal-body" id="trackingEventsModalBody">

            </div>
        </div>
    </div>
</div>
