<style>
.linha-vertical {
  height: 500px;/*Altura da linha*/
  border-left: 2px solid;/* Adiciona borda esquerda na div como ser fosse uma linha.*/
}
</style>
<div class="modal fade" id="trackingModal" tabindex="-1" role="dialog" aria-labelledby="trackingModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h5 class="modal-title" id="trackingModalLabel">Códigos de Rastreio</h5>                
            </div>

            <div class="modal-body container-fluid">
                <div class="row" id="trackingButtonsRow"></div>
            </div>
        </div>
    </div>
</div>
